---
import Image from 'astro/components/Image.astro';
import type { ImageMetadata } from 'astro';

interface Props {
    name: string;
    position: string;
    dateFrom: string;
    dateTo?: string;
    description: string;
    stack: string[];
    cover?: ImageMetadata;
}

const { name, position, dateFrom, dateTo, description, stack, cover } = Astro.props;
---

<article
    class="flex flex-col items-center gap-4 transition-transform duration-500 md:flex-row md:items-start lg:gap-8 lg:hover:translate-x-4"
>
    {
        cover && (
            <Image
                class="bg-surface-500 aspect-4/3 w-50 rounded-xl object-contain object-center p-4 sm:w-75 md:w-37.5 lg:w-50"
                src={cover}
                alt={name}
            />
        )
    }

    <div class="relative flex flex-col items-center overflow-hidden md:items-start">
        <span class="text-center text-2xl md:text-left">{name}</span>
        <h2
            class="text-primary-500 text-center text-3xl font-bold md:text-left md:text-4xl dark:text-teal-500"
        >
            {position}
        </h2>
        <span class="mt-4 text-center md:text-left">{dateFrom} - {dateTo}</span>
        <div class="mt-4 flex flex-wrap justify-center gap-2 font-bold md:justify-start">
            {
                stack.map((item) => (
                    <span class="bg-muted-500 rounded-full px-4 py-2 text-sm text-white">
                        {item}
                    </span>
                ))
            }
        </div>
        <p class="mt-4 text-center text-lg opacity-70 md:text-left">{description}</p>
    </div>
</article>
