---
import Image from 'astro/components/Image.astro';
import type { ImageMetadata } from 'astro';
import { Icon } from 'astro-icon/components';

interface Props {
    name: string;
    description: string;
    slug: string;
    stack: string[];
    cover?: ImageMetadata;
    link?: string;
    pictures?: ImageMetadata[];
    github?: string;
}

const { name, description, slug, stack, cover, link, github } = Astro.props;
---

<article class="transition-transform duration-500 lg:hover:scale-105">
    <div class="relative overflow-hidden">
        {
            cover && (
                <a href={`/portfolio/${slug}`}>
                    <Image
                        class="aspect-video w-full rounded-xl object-cover object-top shadow-lg"
                        src={cover}
                        alt={name}
                        transition:name={`img-${slug}`}
                    />
                </a>
            )
        }
        <div class="absolute right-2 bottom-2 flex gap-2">
            {
                github && (
                    <a
                        class="bg-primary-500 h-12 w-12 rounded-full p-2 shadow-lg"
                        href={github}
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        <Icon name="mdi:github" class="h-full w-full text-white" />
                    </a>
                )
            }

            {
                link && (
                    <a
                        class="bg-primary-500 grid h-12 w-12 place-content-center rounded-full p-2 text-center shadow-lg"
                        href={link}
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        <Icon name="mdi:link" class="h-6 w-6 text-white" />
                    </a>
                )
            }
        </div>
    </div>

    <div class="mt-4 flex flex-wrap justify-center gap-2 font-bold lg:justify-start">
        {
            stack.map((item) => (
                <span class="bg-muted-500 rounded-full px-4 py-2 text-sm text-white">{item}</span>
            ))
        }
    </div>
    <h2 class="mt-4 text-center text-3xl font-bold lg:text-left lg:text-4xl">{name}</h2>
    <p class="mt-2 text-center text-lg opacity-70 lg:text-left lg:text-2xl">{description}</p>
</article>
