---
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro"
import { Image } from "astro:assets";
import Button from "../../components/Button.astro";
import { Icon } from "astro-icon/components";

export async function getStaticPaths() {
    const projects = await getCollection("projects");

    return projects.map((project) => ({
        params: { id: project.slug },
        props: { project },
    }));
}

const { project } = Astro.props;
const { data, slug } = project;
const { name, description, cover, stack, link } = data;

const { Content } = await render(project);
---

<Layout title={` ${name} - Proyectos `} description={`${description}`}>
    <div class="container flex flex-col sm:flex-row gap-4 justify-between mt-4 lg:mt-20">
        <Button class="btn-outline" href="/#portfolio">
            <Icon name="mdi:arrow-left" class="w-6 h-6" />
            Regresar
        </Button>

        {link && (
            <Button class="btn-solid" href={`${link}`} target="_blank">
                Ver proyecto
                <Icon name="mdi:link" class="w-6 h-6" />
            </Button>
        )}
    </div>

    <div class="container flex flex-col xl:flex-row gap-10 py-12">
        <aside class="w-full">
            <Image class={ 'aspect-video object-cover object-top rounded-lg' } src={ cover } alt={ name } transition:name={`img-${slug}`}></Image>
        </aside>

        <main class="w-full">
            <h1 class="text-primary-500 dark:text-teal-500 text-4xl lg:text-6xl text-center lg:text-left font-semibold">{ name }</h1>

            <div class="flex flex-wrap justify-center lg:justify-start gap-2 font-bold mt-4">
                {stack.map(item => (
                    <span class="bg-muted-500 rounded-full px-4 py-2 text-sm text-white">{item}</span>
                ))}
            </div>

            <div class="prose dark:prose-invert prose-headings:text-center lg:prose-headings:text-left mt-8 lg:mt-4">
                <Content />
            </div>
        </main>
    </div>
</Layout>